# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Virtual environments
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/

# Ignore local track images
assets/tracks/*

# Keep examples
!assets/tracks/examples/
!assets/tracks/examples/**