# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Virtual environments
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Distribution / packaging
*.egg-info/
dist/
build/

# Ignore local track images but keep the examples
assets/tracks/*
!assets/tracks/examples/
!assets/tracks/examples/**

# Ignore saves, but keep the directory
saves/*
!saves/.gitkeep